@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/engage');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    user-select: none;
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(180deg, #000 70%, #cecccc);

}



ul#list1{
    display: flex;
    justify-content: space-evenly;
    background-color:#2c2c2c;
    list-style: none;
    padding: 0 20px 0 20px;
}
ul#list1 li{
    padding: 10px 10px 10px 10px;
    font-family: "Noto Serif Display";
    font-size: 15px;
    font-weight: 200;
    color:#ededed;
    text-decoration: none;
    opacity: 0.6;
}
    
  

ul#list0{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 2em 37.5em 0px 38em;
}

ul#list0 li{
    font-family: "Noto Serif Display";
    font-size: 20px;
    font-weight: 200;
    
}

ul#list0 li a{
    color:#ededed;
    text-decoration: none;
    opacity: 0.7;
    transition: all 0.3s ease;
    padding: 0 12px 0 12px;
}

ul#list0 li a b{
    font-size: 15px !important;
}
ul#list0 li a:hover{
    opacity: 1;
}
.mottotime{
    background-color: #000;
}
.motto {
    text-align: center;
    padding-top: 6em;
    padding-bottom: 3.5em;
}
.motto img{
    opacity: 0.35;
}
.centered {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.motto h1{
    text-align: center;
    color: #ededed;
    padding-top: 10px;
    font-family: "Engage";
    opacity: 85%;
    font-weight: 200;
    font-size: 10em;
}

.motto p{
    text-align: center;
    color: #ededed;
    font-family: "Poppins";
    font-size: 1em;

}

.timer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.timer div{
    flex-basis: 100px;
    align-items: center;
}
.timer h3{
    font-family: "Noto Serif Display";
    color: #ededed;
    opacity: 0.60;
    font-size: 40px;
    padding-bottom: 25px;
}

.timer div p{
    font-family: "Noto Serif Display";
    font-size: 60px;
    color: #ededed;
    text-align: center;
}

.timer div span{
    display: flex;
    font-family: "Poppins";
    font-size: 10px;
    color: #ededed;
    justify-content: center;
}


.section1{
    padding:50px 50px; 
    background-color: #b9b8b8;
}

.section1 h1{
    font-family: "Poppins";
    color:#0c0c0c;
    font-size: 5em;
    letter-spacing: -0.04em;
    line-height: 1em;
    padding-top: 100px;
    padding-left: 100px;
    
}

.section2{
    padding: 50px 50px 50px 50px;
    text-align: end;
    background-color: #b9b8b8;
}

.section2 h1{
    font-family: "Poppins";
    padding-top: 100px;
    padding-bottom: 200px;
    padding-right: 100px;
    color:#0c0c0c;
    font-size: 5em;
    letter-spacing: -0.04em;
    line-height: 1em;
}

.section3{
    padding: 150px 50px 90px 50px;
    text-align: left;
}

.section3 p{
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
    color:#ededed;
    text-decoration: none;
    padding-left: 111px;
    letter-spacing: 0.07em;
}


.section3 h1 a{
    font-family: "Noto Serif Display";
    font-weight: 300;
    font-size: 2.6em;
    color:#ededed;
    text-decoration: none;
    padding-left: 100px;
    letter-spacing: -0.05em;
}

.section3 h1 a b{
    font-size: 70px !important; 
    font-weight: 100;
    transition: all 0.4s ease;
    padding-left: 10px;
}

.section3 h1 a:hover{
    b{
        padding-left: 40px;
    }
}


.features{
    padding: 10px 10em ; 

}


.features h3{
    font-family: "Noto Serif Display";
    font-weight: 200;
    color:#ededed;
    text-align: center;
    font-size: 2.5em;
    padding-bottom: 50px;

}
.cards{
    list-style: none;
    display: flex;
    justify-content: space-between; 
    
}

.feature-cards{
    padding: 10px 50px;
    font-family: "Poppins";
    font-size: 1.3em;
    color:#0c0c0c;
    text-decoration: none;
    
 
}

.feature-cards p{
    padding-bottom: 15px;
    background-color: #aeb4b4;
    padding: 20px 20px;
}


.footer{
    padding: 70px 150px 70px 150px;
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.footer img{
    max-height: 10em;
    opacity: 0.5;
}

.footerul1{
    list-style: none;
    padding: 0 50px 0 50px;
}

.footerul1 p{
    font-family: "Poppins";
    color:#ededed;
    opacity: 0.2;
    font-size: 12px;
}
.footerul1 li a{
    text-decoration: none;
    font-family: "Noto Serif Display";
    color: #ededed;
    font-size: 20px;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.footerul1 li a:hover{
    opacity: 1;
}


.footerul2{
    list-style: none;
    padding: 0 50px 0 50px;
}

.footerul2 li{
    text-decoration: none;
    font-family: "Noto Serif Display";
    font-weight: 200;
    color: #ededed;
    font-size: 15px;
    opacity: 0.6;
    transition: all 0.3s ease;
}